---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

const allArticles = await getCollection('articles');
const articles = allArticles.filter(article => !article.data.draft);
---

<Layout title="Articles - dotagents">
  <main>
    <h1>Articles</h1>
    <ul>
      {articles.map(article => (
        <li>
          <a href={`/articles/${article.slug}`}>
            <h3>{article.data.title}</h3>
          </a>
          <p>{article.data.description}</p>
        </li>
      ))}
    </ul>
  </main>
</Layout>
