---
import Layout from '../layouts/Layout.astro';

const articles = await Astro.glob('./articles/*.astro');
---

<Layout title="Articles - dotagents">
  <main>
    <h1>Articles</h1>
    <ul>
      {articles.map(article => (
        <li>
          <a href={article.url}>{article.frontmatter.title}</a>
        </li>
      ))}
    </ul>
  </main>
</Layout>
